/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 6px;
}
*::-webkit-scrollbar-track {
    background: var(--scroll-bg);
}
*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 20px;
}
* {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-color) var(--scroll-bg);
}
.awesomplete .input-with-feedback {
    border: 1px solid var(--border-color);
}
.form-control {
    border: 1px solid var(--border-color);
}
.search-bar .awesomplete input {
    background-color: rgb(255, 255, 255);
}
.modal-backdrop{
    background-color: #ebbcbc !important;
}
.widget .widget-head .widget-title {
    font-size: var(--text-base);
}
.comment-box .comment-input-header, .form-dashboard-section .section-head, .form-section .section-head, .head-title {
    font-size: var(--text-base);
    font-weight: 600;
}
.comment-box .comment-input-container .ql-editor {
    border: 1px solid var(--border-color);
}
.duration-picker .duration-input {
    background-color: var(--bg-color);
    border: 1px solid var(--border-color);
}
.control-label {
    font-weight: 500;
}
[data-theme="dark"] {
    --bg-color: var(--gray-900);
    --disabled-control-bg: var(--gray-900);
    --border-color: #1c2126;
    --margin-lg : 15px;
    --text-bold: 600;
    --scroll-bg: #161a1f;
    --scroll-color: #1c2126;
}

[data-theme="light"] {
    --bg-color: rgb(198, 235, 197);
    --text-bold: 600;
    --control-bg : #ffffff;
    --control-bg-on-gray: #c5c9d0;
    --disabled-control-bg: #f2f5fa;
    --heading-color: rgb(255, 255, 255);
    --border-color:#e3e8f1;
    --avatar-frame-bg: #c0c5cd;
    --margin-lg: 15px;
    --sidebar-select-color: #fbfdff;
    --awesomplete-hover-bg: #d4dcea;
    --scroll-bg: #eef1f5;
    --scroll-color: #d9dfe6;
}

.layout-main-section {
    background-color: rgb(175, 210, 166) !important;
}

.widget {
    background-color: rgb(254, 253, 237);
    padding: 5px;
    border-radius: 6px;
    
}

.widget-spacer {
    padding: 0;
}

.standard-filter-section-flex {
    background-color: rgb(111, 128, 156);
}

.navbar {
    background-color: rgb(244, 128, 128);
}

.ellipsis{
    color: rgb(59, 84, 53);
}

.app-logo {
    border-radius: 6px;
    background-color:rgb(245, 171, 171) ;
}

.es-icon {
    color: white;
}

.list-sidebar .list-filters input:not([data-fieldtype=Check]) {
    background: #ffffff;
}

div.widget.spacer{
    padding: 0px;
    background: none;
}

.widget.shortcut-widget-box{
    padding: 5px;
}

